# database config
DATABASE_URL="db uri here"

# app config
PORT="5001"
NODE_ENV="dev"
MICROSERVICE_NAME="Template"

# groq keys
GROQ_API_KEY="api key here"

# gmail keys
GMAIL_CLIENT_ID="client id here"
GMAIL_CLIENT_SECRET="client secret here"
GMAIL_REDIRECT_URI="redirect uri here"
GMAIL_REFRESH_TOKEN="refresh token here"